
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7934673545282018",
    enable_page_level_ads: true
  });
</script>
    <title>Google Data Saver Proxy for Firefox</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/mobile.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
 <script async="" src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
<script async="" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body>
<div class="titleandlogo">
    <img src="images/ico1.png" class="responsible-img" style="width:64px;"> <h4 style="font-family: 'Oswald' , san-serif;">Google data saver proxy For Firefox</h4>
</div>
<nav class="lime">
    <ul class="left show">

        <li><a href="/">Home</a></li>
        <li><a href="/download">Download</a></li>
        <li><a href="/screenshot">Screenshots</a></li>
        <li><a href="/suggest">Feedback</a></li>
    </ul>

</nav>
	
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- mobile top banner -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7934673545282018"
     data-ad-slot="8679017683"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


	
<div class="flow-text content">
    {% block content %}
    
    
    
    
    {% endblock %}


</div>
{% block endad %}
	
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- mobile banner-bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7934673545282018"
     data-ad-slot="5585950484"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>	
	{% endblock %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">AdvancedBytes</h5>
                <p class="grey-text text-lighten-4"></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact us</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://www.facebook.com/arjunsuresh2012">Facebook</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="mailto:123arjunsuresh@gmail.com">Email</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://addons.mozilla.org/en-US/firefox/user/123arjunsuresh/">Mozilla</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2016 Copyright AdvancedBytes.in
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>
	

<div class="hiddendiv common"></div></body></html>
