{% extends "html/homepage-mobile.html" %}

{% block content %}


<h3>Thank You for Downloading Google Data Saver Proxy</h3>

<div class="row">
        <div class="col s12 m6">
          <div class="card orange darken-1">
            <div class="card-content">
              <span class="card-title">Initial Release of my New Addon</span>
           <img src="images/icon400.png" class="responsive-img" width="100" height="100"/> <p><h4>Datum:Data Usage Statistics Version 1.0 Released</h4></p>

            </div>
            <div class="card-action">
<a  style="color:blue;" href="https://addons.mozilla.org/en-US/firefox/addon/datum-data-usage-statistics/">Download Now</a>
            </div>
          </div>



</div>
	</div>
    


<p>Here is the Change Log</p>
 <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Version 2.2</span>
<ul>


    <li><b>Marked Multiprocess compatible</b></li>
   
</ul>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Version 2.1</span>
<ul>


    <li><b>Added Option to disable data saver in private browsing</b></li>
    <li><b>Added Option "Add this site to whitelist"</b></li>
    <li><b>Fixed Bugs</b></li>
</ul>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
  <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Version 1.8</span>
<ul>


    <li><b>bypass List added</b></li>
    <li><b>UI improved</b></li>
    <li><b>Fixed Bugs</b></li>
</ul>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
  <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Version 1.5</span>
<ul>



    <li><b>UI improved</b></li>
    <li><b>Monthly and Daily Counter Added</b></li>
</ul>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
  <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Version 1.2</span>
            <ul>



    <li>UI improved</li>

</ul>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
  <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Version 1.0</span>
            <ul>
    <li><b>Initial Release</b></li>
</ul>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>








</div>






{% endblock %}
