{% extends "html/homepage-mobile.html" %}

{% block content %}

<div class="row">

    <div id="test1" class="col s12"
>
        <img src="images/ico1.png"  width="96" height="96"/>
<h4>Google Data Saver Proxy</h4>
        <div class="screenshot-group">

    <div class="row"><div class="screenshot col s3">
    <div class="image">
       <a href="images/scrn1.png"><img  src="images/scrn1.png" class="responsive-img" alt="Some awesome text"/></a>
    </div>
</div>



<div class="screenshot col s3">
    <div class="image">
        <a href="images/scrn2.png"><img  src="images/scrn2.png"  class="responsive-img" alt="Some awesome text"/></a>
    </div>
    <span class="description">



    </span>
</div>


<div class="screenshot col s3">
    <div class="image ">
<a href="images/scrn3.png">        <img  src="images/scrn3.png"  class="responsive-img" alt="Some awesome text"/></a>
    </div>
</div>

    </div>
    </div> </div>
    <div id="test2" class="col s12">

<img src="images/icon400.png"  width="96" height="96"/>
<h4>Datum:Data Usage Statistics</h4>
 <div class="screenshot-group ">

    <div class="row"><div class="screenshot col s3">
    <div class="image ">
     <a href="images/datum1.png">    <img  src="images/datum1.png" class="responsive-img" alt="Some awesome text"/></a>
    </div>
</div>



<div class="screenshot col s3">
    <div class="image">
<a href="images/datum2.png">        <img  src="images/datum2.png"  class="responsive-img" alt="Some awesome text"/></a>
    </div>
    <span class="description">



    </span>
</div>


  </div>
    </div>






    </div>

  </div>



<div>

</div>

{% endblock %}
