<html>
<head>
	<meta name="propeller" content="641635070af8aaa90404be34eb2c9775" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Google Data Saver Proxy for Firefox :: HomePage</title>
<link href="/stylesheets/c1.css" rel="stylesheet" type="text/css" >


  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79992722-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="header">
<div class="logo">

    <img width="120" height="150" style="max-height: 200px;max-width: 200px;" src="../images/adbytelogo_wireframe.svg"/>




    </div>


<div  style="width:100%;top:100px;position:absolute;height:60px">

<div class="menu">
    <a href="../"> <div class="mainmenu firstmenu" >Home</div></a>

    <a href="../download"><div class="mainmenu secondmenu">Download</div></a>
    <a href="../screenshot"><div class="mainmenu menu3">Screenshots</div></a>
    <a href="../suggest"><div class="mainmenu menu4">Suggestions/Feedback</div></a>
</div>

    </div>
</div>{% block adblock %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Banner at top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7934673545282018"
     data-ad-slot="2772084889"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>







</div>
{% endblock %}


<div class="content">
<div class="messagetouser">{{ message }}</div>
{% block content %}

  {% endblock %}

	</div>
	
	{% block bottomad %}
	
	
	
	
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Banner at Bottom -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-7934673545282018"
     data-ad-slot="7202284486"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	{% endblock %}


   <footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">AdvancedBytes</h5>
                <p class="grey-text text-lighten-4"></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact us</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://www.facebook.com/arjunsuresh2012">Facebook</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="mailto:123arjunsuresh@gmail.com">Email</a></li>
                    <li><a class="grey-text text-lighten-3"
                           href="https://addons.mozilla.org/en-US/firefox/user/123arjunsuresh/">Mozilla</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright AdvancedBytes.in
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>
<script
			  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
			  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
			  crossorigin="anonymous"></script>
	
</body>
</html>
