{% extends "html/pc-base.html" %}





{% block content %}

<p> Specify your concerns and sugggestion through the idea suggestion widget provided below:</p>
<p>Thank You for your feedback!</p>
 <div class="row">
 <script type="text/javascript">
reformal_wdg_w    = "500";
reformal_wdg_h    = "460";
reformal_wdg_domain    = "advancedbytes";
reformal_wdg_mode    = 5;
reformal_wdg_title   = "Advanced Bytes site";
reformal_wdg_ltitle  = "Got feedback and suggestion ? Got idea for new addon  Share!...";
reformal_wdg_lfont   = "Verdana, Geneva, sans-serif";
reformal_wdg_lsize   = "12px";
reformal_wdg_color   = "#0033ff";
reformal_wdg_bcolor  = "#516683";
reformal_wdg_tcolor  = "#FFFFFF";
reformal_wdg_align   = "";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#9FCE54";
reformal_wdg_cmline  = "#E0E0E0";
reformal_wdg_glcolor  = "#105895";
reformal_wdg_tbcolor  = "#FFFFFF";
</script>
<div style="width: 75%;">



<div class="poxupih_center"><script type="text/javascript" language="JavaScript" src="http://idea.informer.com/tabn3v4.js?domain=advancedbytes"></script>
</div>
  </div>
  </div>

{% endblock %}
